[newrelic-infra]
name=New Relic Infrastructure
baseurl={{ newrelic_infra_repo_baseurl }}
gpgkey={{ newrelic_infra_gpg_key_path }}
gpgcheck={{ newrelic_infra_gpg_check }}
repo_gpgcheck={{ newrelic_infra_repo_gpg_check }}
