#!/usr/bin/env bash
GENEVAKEYSTOREPASSWORD=$1
CERTPATH=$2
KEYPATH=$3
CERTMYSQLPATH=$4
TRUSTSTOREPATH={{ geneva_server_home }}/conf/truststore.jks

csplit -f athenz-ca-split- -s /var/lib/sia/certs/ca.cert.pem '/^-----BEGIN CERTIFICATE-----/'  '{*}'

keytool -import -noprompt -alias athenz-ca-01 -keystore $TRUSTSTOREPATH  -file athenz-ca-split-01 -storepass {{ geneva_server_ssl_truststore_password }}
keytool -import -noprompt -alias athenz-ca-02 -keystore $TRUSTSTOREPATH  -file athenz-ca-split-02 -storepass {{ geneva_server_ssl_truststore_password }}
keytool -import -noprompt -alias athenz-ca-03 -keystore $TRUSTSTOREPATH  -file athenz-ca-split-03 -storepass {{ geneva_server_ssl_truststore_password }}
keytool -import -noprompt -alias athenz-ca-04 -keystore $TRUSTSTOREPATH  -file athenz-ca-split-04 -storepass {{ geneva_server_ssl_truststore_password }}
keytool -import -noprompt -alias athenz-ca-05 -keystore $TRUSTSTOREPATH  -file athenz-ca-split-05 -storepass {{ geneva_server_ssl_truststore_password }}
keytool -import -noprompt -alias athenz-ca-06 -keystore $TRUSTSTOREPATH  -file athenz-ca-split-06 -storepass {{ geneva_server_ssl_truststore_password }}
keytool -import -noprompt -alias athenz-ca-07 -keystore $TRUSTSTOREPATH  -file athenz-ca-split-07 -storepass {{ geneva_server_ssl_truststore_password }}
keytool -import -noprompt -alias athenz-ca-08 -keystore $TRUSTSTOREPATH  -file athenz-ca-split-08 -storepass {{ geneva_server_ssl_truststore_password }}
keytool -import -noprompt -alias athenz-ca-09 -keystore $TRUSTSTOREPATH  -file athenz-ca-split-09 -storepass {{ geneva_server_ssl_truststore_password }}
keytool -import -noprompt -alias athenz-ca-10 -keystore $TRUSTSTOREPATH  -file athenz-ca-split-10 -storepass {{ geneva_server_ssl_truststore_password }}

keytool -importkeystore -destkeystore $TRUSTSTOREPATH \
        -srckeystore {{ geneva_server_home }}/conf/cacerts \
        -storepass {{ geneva_server_ssl_truststore_password }} \
        -srcstorepass {{ geneva_server_ssl_truststore_password }} -noprompt

openssl pkcs12 -export \
   -name {{ geneva_server_ssl_cert_alias }} \
   -inkey $KEYPATH \
   -in $CERTPATH \
   -out service_keystore.pkcs12  \
   -password pass:$GENEVAKEYSTOREPASSWORD  \
   -noiter \
   -nomaciter

keytool -importkeystore \
   -destkeystore {{ geneva_server_home }}/conf/keystore.jks \
   -srckeystore service_keystore.pkcs12 \
   -srcstoretype PKCS12 \
   -deststoretype pkcs12  \
   -alias {{ geneva_server_ssl_cert_alias }} \
   -storepass $GENEVAKEYSTOREPASSWORD  \
   -srcstorepass $GENEVAKEYSTOREPASSWORD \
   -noprompt

openssl pkcs12 -export \
   -name {{ geneva_server_ssl_cert_alias }} \
   -inkey $KEYPATH \
   -in $CERTMYSQLPATH \
   -out servicemysql_keystore.pkcs12  \
   -password pass:$GENEVAKEYSTOREPASSWORD  \
   -noiter \
   -nomaciter

keytool -importkeystore \
   -destkeystore {{ geneva_server_home }}/conf/mysql_yds_keystore.jks \
   -srckeystore servicemysql_keystore.pkcs12 \
   -srcstoretype PKCS12 \
   -deststoretype pkcs12  \
   -alias {{ geneva_server_ssl_cert_alias }} \
   -storepass $GENEVAKEYSTOREPASSWORD  \
   -srcstorepass $GENEVAKEYSTOREPASSWORD \
   -noprompt
