{
  "menu": {
    "dashboard": {
      "visible": true
    },
    "insertionOrders": {
      "visible": true
    },
    "reports": {
      "visible": true
    },
    "adQuality": {
      "visible": true,
      "adScreening": {
        "visible": true
      }
    },
    "adScreeningTopLevel": {
      "visible": true
    },
    "rtbConfiguration": {
      "visible": true
    },
    "companies": {
      "visible": true,
      "buyers": {
        "visible": true
      },
      "sellers": {
        "visible": true
      },
      "seatHolders": {
        "visible": true
      },
      "partners": {
        "visible": true
      },
      "hbPartners": {
        "visible": {{ geneva_server_feature_visibility_hb_partners | to_json }}
      }
    },
    "users": {
      "visible": true
    },
    "campaigns": {
      "visible": true
    },
    "experiments": {
      "visible": {{ geneva_server_feature_visibility_experiments | to_json }}
    },
    "deals": {
      "visible": true
    },
    "pssPayouts": {
      "visible": true
    }

  },
  "loginAccess": {
    "NEXAGE": true,
    "SELLER": true,
    "BUYER": true,
    "SEATHOLDER": true
  },
  "selfRegistration":{
    "oneCentralUserCreation": {{ geneva_server_feature_visibility_self_registration | to_json }}
  },
  "dashboardSummaryCaching": true
}
